/*body { background-color: black;}*/
body { 
    background-color: black;
    color: #66FF00;
    text-align: center;
}

select{
    /*overflow:auto;*/
    color: #66FF00;
    font-size: larger;
    background-color: black;
   /*text-align: center;*/
}