/*body { background-color: black;}*/
body { 
    background-color: black;
    color: #66FF00;
    text-align: center;
    
    /*font-family: "Courier New",Courier, monospace;
    margin: 0;
    padding: 20px; */

}

select{
    /*overflow:auto;*/
    color: #66FF00;
    font-size: larger;
    background-color: black;
   /*text-align: center;*/
}

table{
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


p.paragraph{
    font-size: larger;
    font-weight: bolder;
}

dl{
    
}