h1 {
    color: #880000;
    padding: 20px;
  }
  
p{
    font-size: larger;
    font-weight: bold;
    line-height:40px;
    padding: 20px;
}


nav {
    background-color: #800000;
    letter-spacing: 0.5px;
}

.withgap {
    width: 49%;
    margin-right:1%;
}

.col-sm{
    background-color: #CDCDCD;
    padding: 20px;
}

.btn-group{
    align-items: flex-start;
}