p{
    font-weight: bolder;
}

table {
    border: 5px solid black;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: medium;
    letter-spacing: 1px;
}

.a{list-style: lower-roman; }
.b{list-style: lower-alpha;}
.c{list-style: square;}
.d{list-style: "$ ";}

.ml::first-letter{
    font-size: larger;
    font-weight: bold;
}

a.nav{ text-decoration: none;}
a#not-nav:link{
    color: greenyellow;
    text-decoration: none;
}
a#not-nav:visited{color:green}
a#not-nav:hover{color: darkblue}


nav {
    background-color: #800000;
}
.navbar-brand{
    text-indent: 1em; 
}


.ul1:link{text-decoration: none;}




.footer {
    position:absolute;
    width:100%;
    height:60px;   
    background:#767676;
    text-align: center;
    margin: 2px auto 0 auto;
}

h2 {
    font-size: medium;
}

.icon-button {
    background-color: #800000;
    color: white;
    font-size: 7px;
    
}
  
.icon-button:hover {
    box-shadow: 0 0 10px 0 #800000 inset, 0 0 30px 5px #800000;
    color: white;
} 

.container-content{
    min-height: calc(100vh - 220px);
    padding: 20px;
}