h1 {
    color: #880000;
    padding: 20px;
  }
  
p{
    padding: 20px;
}

nav {
    background-color: #800000;
    letter-spacing: 0.5px;
}
.navbar-brand{
    text-indent: 1em; 
}

.withgap {
    width: 49%;
    margin-right:1%;
}

.col-sm{
    background-color: #CDCDCD;
    padding: 20px;
}

